GEOSAFE_HOST=127.0.0.1
GEOSAFE_PORT=8000
GEOSAFE_DB_PATH=data/geosafe.db
GEOSAFE_MODEL_PATH=config/fuzzy_model.json
GEOSAFE_SCHEMA_PATH=db/schema.sql
GEOSAFE_WEB_ROOT=web
GEOSAFE_LOG_LEVEL=INFO
ULAP_HAZARDS_BASE_URL=https://ulap-hazards.georisk.gov.ph/arcgis/rest/services
ULAP_NGA_BASE_URL=https://ulap-nga.georisk.gov.ph/arcgis/rest/services
ULAP_TOKEN=
ULAP_REQUEST_TIMEOUT_SECONDS=15
ULAP_MAX_RETRIES=2
ULAP_METADATA_CACHE_SECONDS=86400
ULAP_QUERY_CACHE_SECONDS=3600
ULAP_LIVE_VALIDATION=true
ULAP_ALLOW_STALE_CACHE=false
ULAP_SERVICES_CONFIG=config/ulap-services.generated.json
